@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');


.wrapper {
  flex: 1;
  position: relative;
  margin: 1.5rem 1rem;
  margin-bottom: 0;
}

h1{
  font-family: 'Bangers', cursive;
}

.desc{
  font-family: 'Sorts Mill Goudy', serif;
}

.cards {
  border-radius: 20px;
  box-shadow: 5px 5px 6px rgb(0 0 0 / 45%);

}

h4{
  font-family: 'Redressed', cursive;
}

.card {
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 45%);
}

.card-header {
  border-bottom: 2px solid #707070;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.seccion{
  margin-top: 4%;
}

.imagenPok{
  margin-top: auto;
  margin-bottom: auto;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  border-bottom: 2px solid #707070;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.card-footer {
  border-color: transparent;
  background-color: transparent;
  background: transparent;
  border-bottom: 2px, #d3d3d3;
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
  margin-bottom: 3%;
}

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tags.has-addons .tag:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tags.has-addons .tag:not(:first-child) {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tags.has-addons .tag {
  margin-right: 0;
}

.tag.is-dark:not(body) {
  background-color: #363636;
  color: #fff;
}

.tag:not(body) {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.tag.is-success:not(body) {
  background: rgb(143, 216, 125);
  background: linear-gradient(
    90deg,
    rgba(143, 216, 125, 1) 49%,
    rgba(36, 204, 170, 1) 90%
  );
  color: #404040;
  font-weight: bold;
  font-style: oblique;
}


.weakness{
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}


abbr[data-title] {
  position: relative;
  text-decoration: underline dotted; 
}
abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  width: auto;
  white-space: nowrap;
  background: #8bfc74;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 3px 5px;
}